

.Content h1{
    margin: 15px 0;
    font-size: 25px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',;
    font-weight: normal;
    color: #fff;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    padding-top: 100px;

}